archive.zip
archive
maps_256.npz
annotated.zip
archive.zip
facades.tar.gz
facades
facades_test_256.npz
facades_val_256.npz
facades_256.npz
geology-exposed-classifications.csv
model_055200.h5
pics.zip
pics2.zip
pics
annotated.zip
annotated