archive.zip
archive
maps_256.npz
annotated.zip
archive.zip
facades.tar.gz
facades
facades_test_256.npz
facades_val_256.npz
facades_256.npz
geology-exposed-classifications.csv
model_055200.h5
pics.zip
pics2.zip
pics
annotated.zip
annotated
data
vids
1.1.npz
1.2.npz
results.npz
models
plots
WithBeddingPlane
3class_test.npz
3class_train.npz
thoracic
WithBeddingPlane
test
trained
3class_train.npz
3class_all_images.npz
3class_all_images_binary.npz
3class_test.npz
3class_all_images_BPonly.npz
3class_test_ONLYBP.npz
3class_train_BPonly.npz
scores.txt
testImages
thoracic_multi.npz
Outcrop_all.npz
Outcrop_test.npz
Outcrop_train.npz